{% extends "../layouts/mail.html.twig" %}

{% block title %}
<h1>Bienvenue, {{ name }} !</h1>
{% endblock %}

{% block content %}
<p>Nous avons bien reçu votre demande d'inscription, pour la finaliser et confirmer la création de
    votre compte, veuillez cliquer sur le liens ci-dessous:</p>
{% endblock %}

{% block usage %}
<a href="{{ url }}" class="btn">Confirmation</a>
{% endblock %}

{% block warning %}
<p class="second-text">Si vous n'etes pas a l'origine de cette demande, vous pouvez ignorer ce
    message.</p>
{% endblock %}