{% extends "../../layouts/base.html.twig" %}

{% block title %}
<title>Organis | Dashboard</title>
{% endblock %}

{% block desc %}
<meta name="description" content="La solution, pour votre entreprise.">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/styles/connect.css">
{% endblock %}

{% block main %}
<main>
    <section>
        <h1>Nouvelle tache:</h1>
        <form action="/add/event/{{userId}}" method="post">
            <div class="input-container">
                <input type="text" name="title" id="title" placeholder="">
                <label for="title">Nom de la tache</label>
            </div>
            <div class="task-date">
                <h2>Début:</h2>
                <div class="input-container">
                    <input type="date" name="start" id="start" placeholder="">
                    <label for="start">Date:</label>
                </div>
                <div class="input-container">
                    <input type="time" name="startTime" id="startTime" placeholder="">
                    <label for="startTime">Heure:</label>
                </div>
            </div>

            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}

            <div class="form-btns">
                <a href="/" class="btn bgs">Retour</a>
                <button type="submit" class="btn bgm">Ajouter</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}