{% extends "../../layouts/base.html.twig" %}

{% block title %}
<title>Organis | Dashboard</title>
{% endblock %}

{% block desc %}
<meta name="description" content="La solution, pour votre entreprise.">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/styles/connect.css">
{% endblock %}

{% block main %}
<main>
    <section>
        <h1>Nouveau materiel:</h1>
        <form action="/add/material" method="post">
            <div class="input-container">
                <input type="text" name="mac" id="mac" placeholder="">
                <label for="mac">MAC:</label>
            </div>
            <div class="input-container">
                <input type="text" name="description" id="description" placeholder="">
                <label for="description">Description:</label>
            </div>

            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}
            
            <div class="form-btns">
                <a href="/" class="btn bgs">Retour</a>
                <button type="submit" class="btn bgm">Ajouter</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}