{% extends "../../layouts/base.html.twig" %}

{% block title %}
<title>Organis | Profile</title>
{% endblock %}

{% block desc %}
<meta name="description" content="La solution, pour votre entreprise.">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/styles/404.css">
{% endblock %}

{% block main %}
<main>
    <section>
        <div class="notfound-text">
            <h1>Email non vérifié</h1>
            <p>Consultez vos mails et cliquez sur le bouton pour le valider.</p>
            <p>Si vous n'avez rien reçu, vérifiez dans vos spams ou faites une demande de renvoi.</p>
        </div>
        <a href="/mail/{{ userId }}" class="btn bgm">Renvoyer le mail</a>
        <p class="center">ou</p>
        <a href="/change/{{ userId }}" class="btn bgs">Changer le mail</a>
    </section>
</main>
{% endblock %}