{% extends "../layouts/base.html.twig" %}

{% block title %}
<title>Organis | 404</title>
{% endblock %}

{% block desc %}
<meta name="description" content="La solution, pour votre entreprise.">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/styles/404.css">
{% endblock %}

{% block main %}
<main>
    <section>
        <div class="notfound-text">
            <h1>404</h1>
            <p>Page non trouvée...</p>
        </div>
        <a href="/" class="btn bgm">Retour à l'accueil</a>
    </section>
</main>
{% endblock %}