{% extends "../layouts/base.html.twig" %}

{% block title %}
<title>Organis | Panel</title>
{% endblock %}

{% block desc %}
<meta name="description" content="La solution, pour votre entreprise.">
{% endblock %}

{% block style %}
{% endblock %}

{% block main %}
<main>
    {% if user %}
        <p>{{user.firstName}} {{user.lastName}}</p>
        <p>{{user.mail}}</p>
    {% endif %}
    
</main>
{% endblock %}