{% extends "../layouts/base.html.twig" %}

{% block title %}
<title>Organis | Accueil</title>
{% endblock %}

{% block desc %}
<meta name="description" content="La solution, pour votre entreprise.">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/styles/home.css">
{% endblock %}

{% block main %}
<main>
    <div class="landscape">
        <div class="landscape-content landscape-box">
            <h1>
                <svg width="348" height="174" viewBox="0 0 87 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.8 2.4C8.984 2.4 8.216 2.544 7.496 2.832C6.792 3.12 6.176 3.56 5.648 4.152C5.12 4.744 4.696 5.496 4.376 6.408C4.072 7.304 3.92 8.368 3.92 9.6C3.92 10.832 4.072 11.904 4.376 12.816C4.696 13.712 5.12 14.456 5.648 15.048C6.176 15.64 6.792 16.08 7.496 16.368C8.216 16.656 8.984 16.8 9.8 16.8C10.616 16.8 11.376 16.656 12.08 16.368C12.8 16.08 13.424 15.64 13.952 15.048C14.48 14.456 14.896 13.712 15.2 12.816C15.52 11.904 15.68 10.832 15.68 9.6C15.68 8.368 15.52 7.304 15.2 6.408C14.896 5.496 14.48 4.744 13.952 4.152C13.424 3.56 12.8 3.12 12.08 2.832C11.376 2.544 10.616 2.4 9.8 2.4ZM9.8 0.719999C11.24 0.719999 12.544 0.911999 13.712 1.296C14.896 1.68 15.904 2.248 16.736 3C17.584 3.752 18.24 4.68 18.704 5.784C19.168 6.888 19.4 8.16 19.4 9.6C19.4 11.04 19.168 12.312 18.704 13.416C18.24 14.52 17.584 15.448 16.736 16.2C15.904 16.952 14.896 17.52 13.712 17.904C12.544 18.288 11.24 18.48 9.8 18.48C8.36 18.48 7.048 18.288 5.864 17.904C4.68 17.52 3.664 16.952 2.816 16.2C1.984 15.448 1.336 14.52 0.872 13.416C0.424 12.312 0.2 11.04 0.2 9.6C0.2 8.16 0.424 6.888 0.872 5.784C1.336 4.68 1.984 3.752 2.816 3C3.664 2.248 4.68 1.68 5.864 1.296C7.048 0.911999 8.36 0.719999 9.8 0.719999ZM29.3694 7.2H26.4894C25.4014 7.2 24.5694 7.496 23.9934 8.088C23.4174 8.664 23.1294 9.528 23.1294 10.68V18H19.7694V10.68C19.7694 9.048 20.2814 7.784 21.3054 6.888C22.3454 5.976 23.8334 5.52 25.7694 5.52H29.3694V7.2ZM34.8734 7.2C33.7214 7.2 32.8094 7.56 32.1374 8.28C31.4814 8.984 31.1534 10.064 31.1534 11.52C31.1534 12.976 31.4814 14.064 32.1374 14.784C32.8094 15.488 33.7214 15.84 34.8734 15.84H37.8734V7.2H34.8734ZM41.2334 17.76C41.2334 18.512 41.0894 19.192 40.8014 19.8C40.5134 20.424 40.0814 20.96 39.5054 21.408C38.9454 21.856 38.2334 22.2 37.3694 22.44C36.5214 22.68 35.5294 22.8 34.3934 22.8C34.0094 22.8 33.5934 22.768 33.1454 22.704C32.7134 22.656 32.2734 22.568 31.8254 22.44C31.3774 22.328 30.9374 22.176 30.5054 21.984C30.0894 21.808 29.7054 21.6 29.3534 21.36L30.1934 19.92C30.7374 20.288 31.3534 20.576 32.0414 20.784C32.7294 21.008 33.4334 21.12 34.1534 21.12C35.3534 21.12 36.2734 20.848 36.9134 20.304C37.5534 19.76 37.8734 18.912 37.8734 17.76V17.52H34.8734C33.7694 17.52 32.7614 17.376 31.8494 17.088C30.9534 16.8 30.1854 16.392 29.5454 15.864C28.9054 15.336 28.4094 14.704 28.0574 13.968C27.7214 13.232 27.5534 12.416 27.5534 11.52C27.5534 10.624 27.7214 9.808 28.0574 9.072C28.4094 8.336 28.9054 7.704 29.5454 7.176C30.1854 6.648 30.9534 6.24 31.8494 5.952C32.7614 5.664 33.7694 5.52 34.8734 5.52H41.2334V17.76ZM44.9431 14.04C44.9431 15.56 45.8631 16.32 47.7031 16.32H51.0631V11.76H47.7031C45.8631 11.76 44.9431 12.52 44.9431 14.04ZM51.0631 10.08C51.0631 8.928 50.7591 8.08 50.1511 7.536C49.5591 6.992 48.7831 6.72 47.8231 6.72C47.1031 6.72 46.3991 6.832 45.7111 7.056C45.0231 7.264 44.4071 7.552 43.8631 7.92L43.0231 6.48C43.3751 6.24 43.7591 6.032 44.1751 5.856C44.6071 5.68 45.0471 5.536 45.4951 5.424C45.9431 5.296 46.3831 5.2 46.8151 5.136C47.2631 5.072 47.6791 5.04 48.0631 5.04C49.0871 5.04 49.9911 5.16 50.7751 5.4C51.5591 5.64 52.2231 5.984 52.7671 6.432C53.3111 6.88 53.7191 7.416 53.9911 8.04C54.2791 8.648 54.4231 9.328 54.4231 10.08V18H47.7031C45.5271 18 43.9191 17.672 42.8791 17.016C41.8551 16.36 41.3431 15.368 41.3431 14.04C41.3431 12.712 41.8551 11.72 42.8791 11.064C43.9191 10.408 45.5271 10.08 47.7031 10.08H51.0631ZM68.4519 18H65.0919V10.44C65.0919 9.288 64.8039 8.464 64.2279 7.968C63.6519 7.456 62.8199 7.2 61.7319 7.2H58.6119V18H55.2519V5.52H61.7319C64.0199 5.52 65.7079 5.936 66.7959 6.768C67.8999 7.584 68.4519 8.808 68.4519 10.44V18ZM72.7616 18H69.4016V5.76H72.7616V18ZM72.8816 2.52C72.8816 3 72.7136 3.424 72.3776 3.792C72.0576 4.144 71.6256 4.32 71.0816 4.32C70.5376 4.32 70.0976 4.144 69.7616 3.792C69.4416 3.424 69.2816 3 69.2816 2.52C69.2816 2.04 69.4416 1.624 69.7616 1.272C70.0976 0.903999 70.5376 0.719999 71.0816 0.719999C71.6096 0.719999 72.0416 0.903999 72.3776 1.272C72.7136 1.624 72.8816 2.04 72.8816 2.52ZM76.7225 8.16C76.7225 8.528 76.8825 8.864 77.2025 9.168C77.5385 9.472 78.0985 9.736 78.8825 9.96L82.6025 11.04C83.7545 11.376 84.6425 11.832 85.2665 12.408C85.8905 12.984 86.2025 13.728 86.2025 14.64C86.2025 15.216 86.0825 15.744 85.8425 16.224C85.6025 16.688 85.2105 17.088 84.6665 17.424C84.1225 17.76 83.4185 18.016 82.5545 18.192C81.6905 18.384 80.6265 18.48 79.3625 18.48C78.7065 18.48 78.0585 18.432 77.4185 18.336C76.7945 18.24 76.1945 18.112 75.6185 17.952C75.0585 17.776 74.5465 17.584 74.0825 17.376C73.6185 17.152 73.2185 16.92 72.8825 16.68L73.8425 15.24C74.5145 15.656 75.2985 16.024 76.1945 16.344C77.1065 16.648 78.1625 16.8 79.3625 16.8C80.5625 16.8 81.4025 16.64 81.8825 16.32C82.3625 16 82.6025 15.6 82.6025 15.12C82.6025 14.752 82.4345 14.424 82.0985 14.136C81.7625 13.832 81.1705 13.56 80.3225 13.32L76.6025 12.24C75.5785 11.936 74.7385 11.504 74.0825 10.944C73.4425 10.368 73.1225 9.6 73.1225 8.64C73.1225 8.128 73.2345 7.656 73.4585 7.224C73.6985 6.776 74.0665 6.392 74.5625 6.072C75.0585 5.752 75.6905 5.504 76.4585 5.328C77.2265 5.136 78.1545 5.04 79.2425 5.04C80.5705 5.04 81.7705 5.224 82.8425 5.592C83.9305 5.944 84.8105 6.36 85.4825 6.84L84.5225 8.28C83.8665 7.864 83.1225 7.504 82.2905 7.2C81.4585 6.88 80.4425 6.72 79.2425 6.72C78.3945 6.72 77.7625 6.856 77.3465 7.128C76.9305 7.4 76.7225 7.744 76.7225 8.16Z"
                        fill="white" />
                </svg>
            </h1>
            <p>La <strong class="cs">solution</strong>,<br>pour votre <strong class="cm">entreprise</strong>.</p>
        </div>
        <p class="landscape-box">Faites défiler pour plus d'informations</p>
    </div>
    <section class="home-section">
        <div class="home-title">
            <h2>Organis:</h2>
            <p>Organis est la solution de gestion qui vous permet de gérer votre entreprise de manière
                simple et efficace.</p>
        </div>
        <div class="home-container">
            <article>
                <h3>Simplicité</h3>
                <p>Nous allons à l'essentiel pour une meilleure productivité.</p>
            </article>
            <article>
                <h3>Fiabilité</h3>
                <p>Nous vous garantissons la fiabilité de nos services.</p>
            </article>
            <article>
                <h3>Évolutivité</h3>
                <p>Nos services sont évolutifs pour s'adapter à votre entreprise.</p>
            </article>
            <article>
                <h3>Sécurisé</h3>
                <p>Nous mettons tout en œuvre pour garantir la sécurité de vos données.</p>
            </article>
        </div>
    </section>
</main>
{% endblock %}