{% extends "../layouts/base.html.twig" %}

{% block title %}
<title>Organis | Connexion</title>
{% endblock %}

{% block desc %}
<meta name="description" content="La solution, pour votre entreprise.">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/styles/home.css">
{% endblock %}

{% block main %}
<main>
   
</main>
{% endblock %}