@import "./components/inputs.css";

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    gap: 8px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: var(--light-2);
    padding: 1em;
    border-radius: var(--box-radius);
    width: min(480px, 90vw);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;

    button, a {
        width: 100%;
    }
}

.save-login {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
}

.task-date {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 980px) {
    main {
        flex-direction: column;
    }
}