main {
    display: grid;
    grid-template-columns: 420px 1fr;
    grid-template-rows: auto 1fr;
    gap: 0.5em;
    padding: 0.5em;
}

section {
    padding: 1em;
    border-radius: var(--box-radius);
    background-color: var(--light-2);
}

.member-section {
    grid-row: span 2;
}

.add-member {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1em;
}

.add-material {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    padding: 1em;
    border-radius: var(--box-radius);

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
}

.user-btns {
    display: flex;
    gap: 8px;
}

.material-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    padding: 1em;
    border-radius: var(--box-radius);

    li {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: space-between;

    }
}

.material-btns {
    display: flex;
    gap: 8px;
}

.assign {
    display: flex;
    gap: 8px;
    width: 40%;

    select {
        padding-inline: 1em;
        width: 100%;
        height: 44px;
    }
}

#calendar {
    background-color: white;
    margin: 1em;
    padding: 1em;
    border-radius: var(--box-radius);
}

@media (max-width: 860px) {
    main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        gap: 0.5em;
        padding: 0.5em;
    }

    .member-section {
        grid-row: auto;
    }

}