@import "./components/inputs.css";

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: var(--light-2);
    padding: 1em;
    border-radius: var(--box-radius);
    width: min(480px, 90vw);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 8px;
}