@import "variables.css";
@import "fonts.css";
@import "reset.css";

@import "../components/header.css";
@import "../components/footer.css";

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--light-1);
    line-height: 1.5;
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--btn-radius);
    color: var(--light-2);
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5em;
    min-height: 44px;
    transition: filter 250ms;

    &:hover {
        filter: brightness(1.1);
    }
}

.cm {
    color: var(--main);
}

.cs {
    color: var(--second);
}

.bgm {
    background-color: var(--main);
}

.bgs {
    background-color: var(--second);
}

.bgr {
    background-color: rgb(163, 31, 31);
}

.error-message {
    color: rgb(163, 31, 31);
    text-align: center;
}